langchain
langchain-core
langchain-community
langchain-groq
langchain-tavily
langchain-chroma
langchain-huggingface
langchain-text-splitters
langchain-unstructured
langchain-mcp-adapters
streamlit
langsmith
langgraph
torch
transformers
pypdf
chromadb
sentence-transformers
pymupdf
python-dotenv
fastapi
uvicorn
pydantic
mcp